img {
    margin-top: 0.2em;
    max-height: 12em;
    height: auto;
    align-self: center;
}

* {
    font-family: "Source Sans Pro", sans-serif;
}

html {
    background-color: #e6e6e6;
}

main {
    min-width: 100rem;
}

#output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100rem;
    margin-top: 12em;
    justify-content: center;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.2em;
    width: 0.5em;
    margin-top: -7.5px;
    border-radius: 1px;
    background: #c2b067;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}


/* All the same stuff for Firefox */

input[type=range]::-webkit-slider-runnable-track {
    width: auto;
    max-width: 30em;
    min-width: 10em;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: white;
    margin-right: 0em;
    margin-left: -2.5em;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

main {
    display: flex;
    width: 100%;
    margin-top: -8px;
    min-height: 50em;
}

.filtertext {
    display: inline-block;
    min-width: 55px;
    width: auto;
    float: left;
}

#filter h2 {
    width: auto;
    margin-right: 0.5em;
    margin-left: 0.2em;
}

select {
    margin: 0em 1em 0em 0.5em;
}

#filter {
    margin: auto;
    margin-top: 4em;
    display: flex;
    position: fixed;
    font-size: 0.85em;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 99%;
    min-width: 100rem;
    color: #c2b067;
    background-color: black;
    text-transform: uppercase;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

button:focus {
    outline: 0;
}

.undersection {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f2f2f2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 0.1em;
}

#mainheader {
    z-index: 1;
    position: fixed;
    display: flex;
    margin: 0;
    padding-top: 10px;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 100em;
    width: 99%;
    height: 3em;
    background-color: #f0f0dc;
    background-image: url(https://www.vinmonopolet.no/_ui/responsive/theme-vmp/images/vinmonopolet-logo-svart.png);
    background-repeat: no-repeat;
}

h1 {
    margin-top: 0.5em;
}

div {
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 20em;
    height: 25em;
    margin: 1px;
    border-radius: 1px;
    outline: 5px auto #f0f0dc;
    background-color: white;
    transition: 0.1s;
    cursor: pointer;
}

div:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

div h1 {
    align-self: center;
    margin-left: 1em;
}

p {
    margin-left: 1.5em;
}

b {
    margin-left: 1.5em;
}

h3 {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: -0.5em;
}

button {
    background-color: black;
    border: none;
    height: 2em;
    width: 99%;
    min-width: 100rem;
    color: #c2b067;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.01s;
    margin-top: 5.95em;
    border-top: 1px solid #c2b067;
}

#btn {
    position: fixed;
    width: 99%;
    border-radius: 0px 0px 5px 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90%;
    min-width: 100rem;
    height: 3em;
    margin: auto;
    background-color: black;
}

nav button {
    border-left: 1px solid #c2b067;
    border-right: 1px solid #c2b067;
    border-top: none;
    margin: 0;
    width: 10em;
    min-width: 10em;
}

button:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #c2b067;
    color: black;
}

#pagecounter {
    color: #c2b067;
}

footer {
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 100%;
    min-width: 100rem;
    color: #c2b067;
    width: 90%;
    height: 2em;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #c2b067;
    margin: 0 auto;
    margin-top: 0em;
}


}
